<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/logo_azul_eafit.png" alt="Logo de Estramipyme">
                </a>
            </figure>
        </div>
        <div class="box-1">
            <h2>SOBRE NOSOTROS</h2>
            <h4>MEDELLÍN</h4>
            <ul>
                <li>EAFIT Medellín</li>
                <li>Carrera 49 N° 7 Sur-50</li>
                <li>Línea nacional: 01 8000 515 900</li>
                <li><a href="https://api.whatsapp.com/send?phone=573108992908" target="_blank">Whatsapp: (57) 310 8992908</a></li>
                <li><a href="https://www.eafit.edu.co/centrodevisitantes" target="_blank">Atención al Visitante</a></li>
            </ul>
        </div>
        <div class="box-1">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/universidadeafit" target="_blank" class="fa fa-facebook"></a>
                <a href="https://x.com/eafit" target="_blank" class="fa fa-twitter"></a>
                <a href="https://co.linkedin.com/school/universidadeafit/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/user/ueafit" target="_blank" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/eafit/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195" target="_blank" class="fa-light fa-book"></a>

                <div>
                </div>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2021 <b>Estramipyme</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
