<app-menu></app-menu>
<main>
    <div class="titulo">
        <h1>TESTIMONIOS:</h1>
    </div>
    <div class="contenedor">
        <div class="test_jaime">
            <h2>Jaime y Mabeka:</h2>
            <p>Jaime quería ser ingeniero como sus compañeros de colegio y no un carpintero. Sin embargo, la vida lo
                obligo a trabajar por días en la carpintería de su padre mientras estudiaba una tecnología en sistemas
                . En ese entonces, la carpintería era un desvare, pero su sueño seguía siendo ser un gran ingeniero .sus
                familiares cercanos y amigos resaltaban lo bien que hacia su trabajo, así que decidió ser u carpintero
                independiente; para ello busco trabajos por su cuenta que el mismo diseño y le alquilo el taller a su
                padre por horas a su padre y a su tío poco a poco vio que el negocio era rentable solo cuando escucho a
                otro carpintero exitoso hablar con orgullo de su empresa se dio cuenta que ser carpintero también era
                una alternativa siempre y cuando se apasionara el 100% Este fue un momento de bajón para Jaime pues
                logro superar el ego que lo llevaba a sobrevalorar un título universitario y se concentró el los
                conocimientos adquiridos en la carpintería de su padre.

            </p>
            <p>
                Al inicio hubo muchísimas dificultades, pero afortunadamente Jaime ya tenía una historia
                de más de 15 años con su negocio de muebles llamado Mabeka, La clave del éxito para Jaime siempre
                ha sido la responsabilidad, la calidad, el cumplimiento y la
                pasión que le pone a su trabajo. Sin embargo, la pandemia en el 2020, el paro nacional en Colombia en el
                2021 así como la escasez de materias prima por la invasión de rusia a Ucrania en el 2022 han sido
                obstáculos que dificultaron la operación del negocio pese a eso Mabeka ha logrado sobrevivir a crisis
                internas y externas, y Jaime ya participa en proyectos importantes, lo que indica que ya cumplió su
                sueño de tener mucho más que una carpintería de barrio Sin embargo el siente que su crecimiento ha sido
                demasiado orgánico y quisiera llevar a que Mabeka tenga una planta de personal y un proceso de
                producciones estables.
            </p>

            <p>El diagnóstico te puede dar resultados de carácter operativo (o funcional) o de carácter
                estratégico. Los primeros tienen que ver con problemas u oportunidades puntuales, relacionados con un
                aspecto técnico o de un área específica del negocio. Por ejemplo, en el
                caso de Mabeka, identificamos que, si bien existe una contabilidad formal del negocio, aún
                no se realizan análisis financieros para saber si el costo de los créditos actuales podría ser menor o
                el plazo para pagar mayor. Este es un aspecto puramente financiero, definitivamente
                importante, pero no estratégico, porque no afecta de manera directa a todo el negocio en
                relación con el mercado. Si revisamos el tema financiero en relación con el crecimiento
                futuro del negocio, lo que a su vez implica ampliar el segmento o los productos para llegar
                a nuevos mercados, entonces ya hablaríamos de un reto estratégico.
                En la tabla 13 presentamos una síntesis de los hallazgos del diagnóstico de Mabeka.
                Esta tabla permite visualizar tanto los resultados más relevantes del análisis externo
                como del interno.
            </p>
        </div>
        <div class="img_jaime">
            <img src="../../../assets/mabeka.jpg" alt="fotografia de jaime lopez">
            <img src="../../../assets/mabeka-trabajo.jpg" alt="tarjeta de presentacion Mabeka">
        </div>

        <div class="test_fundacion">
            <h2>Fundación niños felices:</h2>
            <p>Doña Ana, directora de la fundación, fue docente de preescolar durante toda su vida
                laboral. Al llegar a su edad de jubilación se propuso trabajar en el principal obstáculo del
                proceso de formación de sus niños: la desnutrición. Fue así como buscó a sus amigos,
                vecinos, excompañeros de trabajo y todas aquellas personas sensibles por el bienestar de
                los niños para proponerles un trabajo conjunto para mejorar la nutrición infantil.
            </p>

            <p>Desde hace cinco años, el propósito de la fundación ha sido claro: “Transformar la vida de niños
                en edad preescolar a partir de una nutrición balanceada que promueva su desarrollo cognitivo y les
                permita ser niños felices”.
                Este propósito le ha dado un norte claro a la fundación en relación con los servicios
                que ofrece para disminuir la desnutrición. Sin embargo, la financiación de sus programas
                sigue siendo un reto. Por esta razón, su directora pidió asesoría a través de la metodología
                Estramipyme</p>
            <br>
        </div>
        <div class="img_fundacion">
            <img src="../../../assets/LogoFinal-1.png" alt="logo de la fundacion niños felices">
        </div>

    <div class="tienda-juan">
        <h2>Juan y su tienda:</h2>
        <p>Don juan es un emprendedor que tiene su tienda En
            el barrio donde vive don juan no quiere que su tienda
            caiga al fracaso ya que su tienda está destinada a caer
            ya que los precios de su tienda están por encima del
            promedio del sector y el valor percibido por los clientes,
            incluso algunos expresaron que comprarían en la tienda solo en caso de urgencia.
            Don Juan necesita ajustar su modelo de negocio y precios para
            ser más competitivo. Debe enfocarse en conocer mejor a sus clientes
            y adaptar su oferta a las necesidades locales. Además, considerar
            el concepto de la ciudad de los 15 minutos para ofrecer conveniencia y
            variedad. Optimizar la experiencia del cliente y utilizar herramientas
            estratégicas son clave para evitar el fracaso de su tienda.
        </p>
        <br>
    </div>
    <div class="img_tienda_juan">
        <img src="../../../assets/tienda-juan.jpg" alt="foto de la tienda de juan">
    </div>
    </div>
    <script src="./menu.js"></script>
</main>
<app-footer></app-footer>