<app-menu></app-menu>
<main>
    <div class="contenido">
        <div class="historia">
            <br>
            <h1>HISTORIA</h1>
            <br><br>
            <p>En el 2019 por dos estudiantes del mba de la Universidad EAFIT, Susana Álvarez Delgado y Santiago
                Zapata
                Correa, bajo mi supervisión temática y metodológica. Estramipyme te guía por las tres etapas del
                proceso
                estratégico (diagnóstico, reto estratégico, cocreación de estrategia competitiva) a través de
                preguntas
                y herramientas que te permitirán reconocer de dónde viene el éxito de tu negocio, dónde estás hoy y
                a
                dónde quieres llegar.</p>
            <br>
            <p>La idea de desarrollar esta metodología surgió de Angie Henríquez, de la Dirección de Innovación
                EAFIT.
                Su preocupación era ayudar a las organizaciones sin ánimo de lucro que llegaban a solicitar
                consultoría
                en temas de estrategia, pero que no tenían recursos para pagar por ella. Cuando Angie nos compartió
                su
                idea a los profesores del área de estrategia de la Escuela de Administración, recordé que Santiago y
                Susana, estudiantes estrella de mi curso de Estrategia I, me habían pedido explícitamente que los
                ayudara a encontrar un trabajo de grado en el que pudieran hacer algún aporte social. Fue así como
                tuve
                la fortuna de iniciar con ellos el proceso de construcción de Estramipyme, con la intención de que
                fuera
                una metodología que facilitara procesos de consultoría en estrategia por parte de los estudiantes
                del
                mba de la Universidad EAFIT.</p>
        </div>
        <div  class="maria">
            <img src="../../../assets/luz_maria_rivas.jpeg" alt="Luz Maria Rivas">
        </div>
        <div class="manual">
            <br><br>
            <h2>¿Por que y para que se escribio este manual?</h2>
            <br>
            <p>El conocimiento en estrategias ha sido difundido en el mundo
                por firmas consultoras de gran prestigio cuyo alto honorarios
                solo estan alcance de pocas empresas por ejecutivas formados en
                maestrias de adiministracion. Por esta razon desde areas de Estrategias
                de la escuela de administracion de la Universidad EAFIT queremos
                llevar este concimiento al mayor numero de negocios posible el acceso a
                este tipo de conocimiento.</p>
            <br>
            <p>Por esta razón, queremos que Estramipyme llegue a los micro
                y pequeños negocios, para que puedan beneficiarse de este conocimiento
                con el apoyo de estudiantes universitarios que juegan el rol de consultores
                en estrategia y bajo la estricta supervisión de sus profesores.</p>
        </div>
        <div class="img-proposito">
            <img src="../../../assets/proposito.jpg" alt="">
        </div>
        <div class="confianza">
            <br><br>
            <h2>¿Por que confiar en nosotros?</h2>
            <br>
            <p>Estramipyme tiene una historia de conocimientos, experiencias,
                investigaciones y reflexiones de profesores, estudiantes,
                administradores y consultores que han participado durante más
                de veinte años en el Grupo de Estudio de Estrategia (GEE) de la
                Escuela de Administración de EAFIT. El gEE fue creado en 1995 por
                la profesora Diana Londoño Correa con el propósito de intercambiar
                conocimientos entre los profesores de planta de EAFIT y los profesores
                de hora cátedra. Esta era una manera de garantizar la calidad académica de
                las clases sobre estrategia, ya que los participantes del grupo compartían
                tanto conocimientos teóricos sobre el tema como experiencias empresariales
                narradas por sus protagonistas. Este grupo ha jugado un rol central en el desarrollo
                de este libro, no solo porque ahí hemos aprendido de los beneficios y dificultades
                de la estrategia, sino porque hemos cocreado distintas maneras de llevar este conocimiento
                a miles de estudiantes de educación formal y no formal; el Inventario de herramientas de 
                estrategia,que puede facilitar el proceso estratégico, y el Modelo 10 de 
                Consultoría en Estrategia, son algunosejemplos de lo que se ha realizado en este grupo de estudio.</p>
                <br><br>
        </div>
        <div class="img-confianza">
            <img src="../../../assets/confianza.jpg" alt="">
        </div>
    </div>
</main>
<app-footer></app-footer>
