<app-menu></app-menu>
<main>
        
    <h1>¿QUÉ ES ESTRAMIPYME?</h1>
    <br>
    <P class="parrafo">Es una metodología fácil y ágil para diseñar una estrategia competitiva, es un libro innovador que ayuda a las pequeñas y medianas empresas a desarrollar estrategias ganadoras de manera sencilla y efectiva. Creado en 2019 por Susana Álvarez Delgado, Santiago Zapata Correa y Luz María Rivas Montoya de la Universidad EAFIT, este proyecto se enfoca en tres pasos clave: identificar problemas, planificar soluciones y colaborar para crear estrategias exitosas.

        Con un enfoque en la toma de decisiones inteligentes sin importar los recursos limitados, Estramipyme se destaca por su simplicidad y agilidad, perfecta para empresas que necesitan adaptarse rápidamente al mercado competitivo. Sus herramientas actúan como superhéroes empresariales al ayudar a comprender el negocio, identificar áreas de mejora y establecer objetivos claros.
        
        A través de ejemplos reales como la carpintería "Mabeka", el manual ilustra cómo Estramipyme puede transformar negocios existentes, equilibrando operaciones diarias con una visión a largo plazo. Esta metodología fomenta la generación de ideas innovadoras y la colaboración en talleres, demostrando su versatilidad en diversos entornos comerciales.
                    
        </P>
        <br>
    <h2>¿PARA QUÉ SIRVE ESTRAMIPYME?</h2>
    <P class="parrafo">Estramipyme es una metodología fácil y ágil que te ayuda a optimizar tu negocio. Proporciona visiones y metodologías para pensar en el futuro y cómo hacer crecer tu emprendimiento. Es especialmente útil para avanzar con tus empleados y expandir tu empresa o emprendimiento. Te ofrece conocimientos para pasar de una microempresa a una macroempresa.
        Estramipyme también te ayuda a organizar tu empresa y ofrece opciones para seleccionar los campos más propicios para alcanzar el éxito en tu negocio. Proporciona asesoría para identificar qué productos comercializar, entender los gustos de tus clientes y mantener un balance entre lo más vendido y lo menos exitoso.
         Finalmente, y no menos importante, te ayuda a conocer a tus competidores, qué productos venden más, cuáles son sus clientes, entre otros aspectos relevantes.
        </P>
    <br>
    <section class="seccion-incio">
        <div class="contenedor">
            <article class="tarjetas">
                <img src="../../../assets/diagnostico.jpeg" alt="">
                <div class="descripcion">
                    <br>
                    <h2>Diagnóstico</h2>
                    <br>
                    <p>Estos son algunos de los diagnósticos que podemos encontrar en el libro de Estramipyme.</p>
                    <br>
                    <button ><a class="boton" href="./diagnostico.html">Ver Más</a></button>
                    <br>
                </div>
            </article>
            <article class="tarjetas">
                <img src="../../../assets/juego.jpeg" alt="">
                <div class="descripcion">
                    <br>
                    <h2>Juego</h2>
                    <br>
                    <p>Recurso lúdico para facilitar el aprendizaje de la etapa de  diagnostico</p>
                    <br><br>
                    <button class="button"><a class="boton" href="https://view.genially.com/65bf93b95615030014c7a9f6/interactive-content-mabeka" target="_blank">Ver Más</a></button>
                    <br>
                </div>
            </article>
        </div>
    </section>
    <script src="./menu.js"></script>
</main>
<app-footer></app-footer>
