<app-menu></app-menu>
<div class="contenedor">
    <div class="contacto">
        <h1>Contactanos:</h1>
        <form class="CONTACTO">
            <label for="">NOMBRE:</label>
            <input type="text" placeholder="Nombre completo" name="nombre" id="name">
            <br><br>
            <label for="">CORREO ELECTRONICO:</label>
            <input type="email" placeholder="Correo electronico" name="email" id="email">
            <br><br>
            <label for="">MENSAJE:</label>
            <textarea placeholder="" name="Mensaje" id="Tu mensaje"></textarea>
            <br><br>
            <input type="button" value="ENVIAR">
        </form>
    </div>
    </div>
<app-footer></app-footer>
